
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Page</title>
    </head>
    <body>
        <h1>Stream to me</h1>
        <ul id="StreamToMe"></ul>

        <script src="~/js/stream.js"></script>
    </body>
</html>
