
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Page</title>
    </head>
    <body>
        <div>
            <h1>Stream chat</h1>

            <input id="sendmessage" type="button"  value="Send!" />
            <input id="messageTextInput" type="text" />

            <ul id="chatMessages"></ul>

            <script src="~/js/chatstream.js"></script>
        </div>
    </body>
</html>
